@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --pink: hsl(322, 100%, 66%);
    --Light_Pink: hsl(321, 100%, 78%);
    --Light_Red: hsl(0, 100%, 63%);
    --Very_Dark_Cyan: hsl(192, 100%, 9%);
    --Very_Pale_Blue: hsl(207, 100%, 98%);
}
body{
    font-family: "Open Sans", sans-serif
}
header{
    display: flex;
    justify-content: space-between;
    margin: 4rem 4rem;
    margin-bottom: 10rem;
}
header > img{
    width: 12rem;
    height: fit-content;
}
header > a{
    padding: 0.5rem;
    width: 7rem;
    border-radius: 1rem;
    border: 1px solid var(--pink);
    color: var(--pink);
    text-decoration: none;
    text-align: center;
}
header > a:active{
    color: var(--Light_Pink);
    border-color: var(--Light_Pink);
}
.section-1{
    text-align: center;
}
.section-1 > h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: var(--Very_Dark_Cyan);
}
.section-1 > p{
    margin: 2rem 25rem;
    text-align: center;
    justify-content: center;
    line-height: 25px;
    color: var(--Very_Dark_Cyan);
    font-size:larger;
}
.section-1 > a{
    display: inline-flex;
    text-decoration: none;
    padding: 1.2rem;
    width: 27%;
    border-radius: 2rem;
    background-color: var(--pink);
    color: var(--Very_Pale_Blue);
    font-weight: 600;
    justify-content: center;
}
.section-1 > a:active{
    background-color: var(--Light_Pink);
}
.section-2{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}
.section-3{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    padding: 0 2rem 20rem 2rem;
    background: url("./images/bg-section-top-desktop-1.svg") bottom  no-repeat;
}
.section-3 h1{
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.section-3 p{
    color: hsla(192, 100%, 9%, 0.4);
    font-size: larger;
    text-align: center;
}
.div > h1{
    margin: 0.5rem 0;
}
.topic{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 0;
}
.topic > div {
    width: 40%;
    color: var(--Very_Dark_Cyan);
}
.topic > div > h2{
    margin-bottom: 1rem;
}
.topic > div >  p{
    line-height: 22px;
}
.topic img{
    width: 30%;
}
.grow{
    background-color: var(--Very_Pale_Blue);
}
.flow{
    background: url("./images/bg-section-bottom-desktop-1.svg") top no-repeat,
    url("./images/bg-section-top-desktop-2.svg") bottom no-repeat;
    padding: 15rem 0;
}
.user{
    background-color: var(--Very_Pale_Blue);
}
.Ready{
    text-align: center;
    background: url("./images/bg-section-bottom-desktop-2.svg") top no-repeat,
    url("./images/bg-footer-top-desktop.svg") bottom no-repeat;
    padding: 15rem 0;
}
.Ready h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: var(--Very_Dark_Cyan);
    margin-bottom: 2rem;
}
.Ready a{
    display: inline-flex;
    padding: 1.2rem;
    width: 27%;
    border-radius: 2rem;
    background-color: var(--pink);
    color: var(--Very_Pale_Blue);
    font-weight: 600;
    justify-content: center;
    margin-bottom: 8rem;
    text-decoration: none;
}
.Ready a:active{
    background-color: var(--Light_Pink);
}
.my-footer{
    background-color: var(--Very_Dark_Cyan);
    display: flex;
    padding:4rem 4rem;
    color: var(--Very_Pale_Blue);
    font-size: small;
    justify-content: space-between;
}
.my-footer > div:nth-of-type(1){
    width: 25%;
}
.my-footer > div:nth-of-type(2){
    width: 40%;
}
.my-footer > div:nth-of-type(1) > img{
    width: 10rem;
    filter: grayscale(100) brightness(50);
    margin-bottom: 1rem;
}
.my-footer > div:nth-of-type(1) > p:nth-of-type(1){
    line-height: 20px;
    margin-bottom: 1.5rem;
}
.contact{
    display: flex;
    gap: 1rem;
}
.contact > img{
    margin-bottom: 0.5rem;
}
.newsletter > h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 1rem;
}
.newsletter > p{
    line-height: 20px;
    width: 70%;
    margin-bottom: 1.5rem;
}
input{
    border-radius: 0.3rem;
    width:18rem;
    height: 2.5rem;
    padding-left: 0.5rem;
}
button{
    background-color: var(--pink);
    color: var(--Very_Pale_Blue);
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: var(--Light_Pink);
}
.textarea{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
@media(max-width:375px){
   header{
    margin: 1.5rem 1.5rem;
    margin-bottom: 5rem;
    align-items: center;
   }
   header > img{
    width: 6rem;
   }
   header > a{
    width: 6rem;
    font-size: 10px;
   }
   .section-1 > h1{
    font-weight: 700;
    font-size: 25px;
    margin: 0 3rem;
   }
   .section-1 > p{
    margin: 2rem 2rem;
    font-size: 15px;
    line-height: 20px;
   }
   .section-1 > a{
    width: 70%;
    font-weight: 600;
   }
   .section-2 > img{
    width: 85%;
   }
   .section-3{
    flex-direction: column;
    font-size: 12px;
    background: url("./images/bg-section-top-mobile-1.svg") bottom  no-repeat;
    padding-bottom: 5rem;
   }
   .section-3 img{
    width: 2rem;
    margin: 0 5rem;
   }
   .section-3 h1, p{
    text-align: center;
   }
   .section-3 h1{
    font-size: 60px;
   }
   .section-3 > div{
    margin-bottom: 5rem;
   }
   .topic{
    flex-direction: column;
   }
   .topic > div {
    width: 85%;
    text-align: center;
   }
   .topic > div >  p{
    font-size: 15px;
   }
   .topic img{
    width: 80%;
    margin-bottom: 5rem;
   }
   .grow, .user{
    flex-direction: column-reverse;
   }
   .flow{
    background: url("./images/bg-section-bottom-mobile-1.svg") top no-repeat,
    url("./images/bg-section-top-mobile-2.svg") bottom no-repeat ;
   }
   .Ready{
    text-align: center;
    background: url("./images/bg-section-bottom-mobile-2.svg") top no-repeat,
    url("./images/bg-footer-top-mobile.svg") bottom no-repeat;
    padding: 10rem 0;
   }
   .Ready h1{
    font-size: 27px;
   }
   .Ready a{
    padding: 1rem;
    width: 60%;
   }
   .my-footer{
    flex-direction: column-reverse;
    padding: 2rem;
    font-size: 15px;
    gap: 3rem;
   }
   .my-footer > div:nth-of-type(1){
    width: 100%;
   }
   .my-footer > div:nth-of-type(2){
    width: 100%;
   }
   .newsletter > p{
    text-align:left;
    width: 100%;
   }
   .textarea{
    flex-direction: column;
    gap: 1rem;
   }
   input{
    width:100%;
    height: 3rem;
    }
   button{
    width: 50%;
    height: 3rem;
    align-self: last baseline;
    font-size: 17px;
   }
   .my-footer > div:nth-of-type(1) > img{
    width: 12rem;
   }
   .my-footer > div:nth-of-type(1) > p:nth-of-type(1){
    text-align: left;
    margin-bottom: 2rem;
   }
   .contact > img{
    margin-bottom: 1rem;
   }
}